.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 1fr 1fr 250px;
    gap: 5px;
}

#header {
    grid-column: 1 / 6;
}

#prev {
    grid-column: 1 / 6;
}

#oa {
    grid-column: 1 / 6;
    align-items: stretch;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    }

    #header {
        grid-column: 1 / 4;
    }

    #gen {
        grid-column: 2 / 4;
    }

    #prev {
        grid-column: 1 / 4;
    }

    #oa {
        grid-column: 1 / 4;
    }
}