body {
    font-family: sans-serif;
    background-color: #121212;
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    font-size: 20px;
}

textarea {
    resize: none;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#id {
    display: flex;
    justify-content: center;
}

#id>input {
    width: 100%;
    text-align: center;
    background-color: #1E1E1E;
    border: none;
    border-radius: 5px;
    color: white;
}

#can {
    display: flex;
    justify-content: center;
}

#can>input {
    width: 100%;
    text-align: center;
    background-color: #1E1E1E;
    border: none;
    border-radius: 5px;
    color: white;
}

#lot {
    display: flex;
    justify-content: center;
}

#lot>select {
    width: 100%;
    text-align: center;
    background-color: #1E1E1E;
    border: none;
    border-radius: 5px;
    color: white;
    appearance: none;
}

#ta {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}

#ta>button {
    height: 100%;
    width: 100%;
    color: white;
    border: none;
    background-color: #1E1E1E;
    border-radius: 5px;
}

#ta>button:hover {
    transition-duration: 0.2s;
    background-color: #2E2E2E;
}

#ta>button:active {
    transition-duration: 0s;
    background-color: #5a5a8c;
}

#gen {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}

#gen>button {
    height: 100%;
    width: 100%;
    color: white;
    border: none;
    background-color: #1E1E1E;
    border-radius: 5px;
}

#gen>button:hover {
    transition-duration: 0.2s;
    background-color: #2E2E2E;
}

#gen>button:active {
    transition-duration: 0s;
    background-color: #5a5a8c;
}

#prev {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

#prev>textarea {
    width: 100%;
    background-color: #1E1E1E;
    color: white;
    border: none;
}

#prev>button {
    height: 100%;
    background-color: #1E1E1E;
    color: white;
    border: none;
}

#prev>button:hover {
    transition-duration: 0.2s;
    background-color: #2E2E2E;
}

#prev>button:active {
    transition-duration: 0s;
    background-color: #5a5a8c;
}

#oa {
    display: flex;
    justify-content: center;
    align-items: center;
}

#oa>textarea {
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #1E1E1E;
    color: white;
}

#id ::placeholder,
#can ::placeholder,
#prev ::placeholder,
#oa ::placeholder {
    text-align: center;
    color: lightgray;
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        font-size: 14px;
    }
}