body {
    font-family: sans-serif;
    background-color: #121212;
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

/* .container>div {
    border: 1px solid rgba(70, 70, 70, 0.25);
} */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#id {
    display: flex;
    justify-content: center;
}

#id>input {
    width: 100%;
    text-align: center;
    border: 2px solid rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    background-color: rgb(90, 90, 140);
    color: white;
}

#can {
    display: flex;
    justify-content: center;
}

#can>input {
    width: 100%;
    text-align: center;
    border: 2px solid rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    background-color: rgb(90, 90, 140);
    color: white;
}

#lot {
    display: flex;
    justify-content: center;
}

#lot>select {
    width: 100%;
    text-align: center;
    border: 2px solid rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    background-color: rgb(90, 90, 140);
    color: white;
}

#ta {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    background-color: rgb(90, 90, 140);
    color: white;
}

#gen {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    background-color: rgb(90, 90, 140);
    color: white;
}

#prev {
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev>textarea {
    width: 100%;
    border: 2px solid rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    background-color: rgb(90, 90, 140);
    color: white;
}

#oa {
    display: flex;
    justify-content: center;
    align-items: center;
}

#oa>textarea {
    width: 100%;
    border: 2px solid rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    background-color: rgb(90, 90, 140);
    color: white;
}

#id ::placeholder,
#can ::placeholder,
#prev ::placeholder,
#oa ::placeholder {
    text-align: center;
    color: lightgray;
}